/* Палітра https://colorscheme.ru/#0v21Tw0vfw0w0 */

/* Шрифт */
@import url("https://fonts.googleapis.com/css?family=Raleway");
html,
h1,h2,h3,h4,h5,h6,a {
    font-family: "Raleway";
}


body {
    height: 100%;
    width: 100%;
    background-color: #EDEDE5;
}

/* Про нас */
.about {
    margin: 2em 0;
    padding: 2em;
    position: relative;
    background-color: #F97300;
}
.about img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.about .desk {
    padding: 2em;
    border-left: 2px solid #019097;
}
.about .desk p{
    color:rgb(0, 0, 0);
}
.about .desk h2 {
    font-weight: lighter;
    color: #F7F9F8;
}